$theme-colors: (
  "baseColor": hsla(20,39%,55%,1.00),
  "baseTransparent": hsla(20,39%,55%,0.00)
);
$grays: (
  "grays": gray
);
@function gray($key: "100") {
  @return map-get($grays, $key);
}
.custom-element {
  background-color: gray("100");
}
@import "../bootstrap/bootstrap-sass/scss/bootstrap";
.container {
  width: 93%;}
	
@media (min-width: 576px) {
	.container {
 		 width: 90%;}
}
@media (min-width: 768px) {
	.container {
 		 width: 90%;}
}

@media (min-width: 992px) {
	.container {
 		 width: 85%;}
}	
@media (min-width: 1200px) {
	.container {
 		 width: 80%;}
}

