/*
- cardReservationTab
- background image
- footer
- arrow up and home
- center-col-group
- button overlay with image at background effect
- title up navbar
--- awesome	icon edit
- submit_bar
- flex-box
- gallery-flex
- image label sale	
- overlay image effect
- @media
*/
/*cardReservationTab*/
.cardTab {
  position: absolute;
  display: flex;
  transform: translate(-50%, 0);
  border-radius: 15px;
  box-shadow: 1px 1px 15px 0px;
  -webkit-box-shadow: 1px 1px 15px 0px;
  z-index: 997; }
  .cardTab > div {
    padding: 0; }
    .cardTab > div img {
      height: 100%;
      max-height: 100%;
      width: 100%; }
.card-tabs ul{
    background-color:hsla(294,9%,17%,1.00);
}
.cardTabContent {
  color: black;
  height: 100%; }

li.indicator {
  background-color: #a30f2d !important; }

/*background image*/
.background {
  z-index: 1108;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  opacity: 1;
  position: relative; }

/*footer*/
ul.footer {
  list-style: none;
  padding-left: 0; }
  ul.footer li a {
    font-size: 0.8em;
    color: #555555;
    line-height: 2.5em;
    text-decoration: none; }
    ul.footer li a:hover {
      color: #960d28; }

footer.footer_copyright_bottom {
  justify-content: center;
  align-items: center;
  padding: 5px !important;
  border-top: thin solid rgba(85, 85, 85, 0.55);
  text-align: center;
  font-size: 0.9em;
  opacity: 0.55;
  padding-top: 5px;
  padding-bottom: 5px; }
  footer.footer_copyright_bottom div {
    text-align: center;
    font-size: 0.8em;
    opacity: 0.55;
    padding-top: 15px;
    padding-bottom: 15px; }

/*arrow up and home*/
#arrow {
  z-index: 1112;
  display: none;
  position: fixed;
  bottom: 46px;
  right: 5px;
  font-size: 35px;
  max-height: 40px;
  cursor: pointer; }

i.arrow {
  color: rgba(151, 196, 216, 0.4); }
  i.arrow:hover {
    color: rgba(151, 196, 216, 0.8); }

#home_logo_link {
  z-index: 1112;
  display: none;
  position: fixed;
  bottom: 5px;
  right: 5px;
  font-size: 35px;
  max-height: 40px;
  cursor: pointer; }

i.home_logo_link {
  color: rgba(151, 196, 216, 0.4); }
  i.home_logo_link:hover {
    color: rgba(151, 196, 216, 0.8); }

/*center_col_group*/
.center_col_group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .center_col_group * {
    display: flex;
    justify-content: center;
    text-align: center; }

/*button overlay with image at background effect*/
button.button_overlay_img_background {
  position: relative;
  width: 50%;
  background-color: transparent;
  border-color: transparent; }
  button.button_overlay_img_background img {
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
    position: relative; }

nav ul li:active a {
  color: #960d28 !important; }
nav ul li a {
  color: white !important; }
  nav ul li a:hover {
    color: #960d28 !important; }

ul.title_padding_item li {
  padding: 35px; }

/*awesome icon edit*/
ul.awesome_edit li a {
  padding-left: 5px;
  padding-right: 5px; }
  ul.awesome_edit li a span i {
    font-size: 18px; }

ul.awesome_beside_logo {
  position: absolute; }

/*submit_bar*/
form.submit_bar {
  display: flex;
  width: 100%;
  justify-content: center; }
  form.submit_bar input {
    margin: 0 !important;
    height: 40px;
    border-radius: 0;
    border-color: whitesmoke;
    color: whitesmoke;
    background-color: transparent; }
    form.submit_bar input:focus {
      color: whitesmoke !important;
      background-color: transparent !important;
      border-color: whitesmoke !important;
      box-shadow: 0 0 0 0.1rem whitesmoke !important; }
  form.submit_bar button {
    margin: 0 !important;
    height: 40px;
    border-radius: 0;
    border-color: whitesmoke;
    color: whitesmoke;
    background-color: transparent; }
    form.submit_bar button:hover, form.submit_bar button:active, form.submit_bar button:focus {
      color: black !important;
      background-color: whitesmoke !important;
      border-color: whitesmoke !important;
      box-shadow: 0 0 0 0.1rem whitesmoke !important; }

/*gallery_flex*/
  .gallery_flex div {
    overflow: hidden;
    padding: 0px; }
    .gallery_flex  div img {
      align-self: center !important;
      height: auto;
      max-width: 100%;
      width: 100%;
      transform: scale(1);
      transition: transform .4s ease-in-out;
      /* zoom effect*/ }
    .gallery_flex div:hover img {
      transform: scale(1.03);
      /*zoom effect*/ }

/*image label sale*/
div.sale_label_outter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(40%, -50%);
  border-radius: 50%;
  color: white;
  background-color: rgba(151, 196, 216, 0.8); }

/*overlay image effect*/
.overlay:before {
  content: '';
  display: block;
  position: absolute;
  height: 0%;
  width: 100%;
  bottom: 0;
  transition: height 0.5s ease-out;
  background: linear-gradient(to bottom, transparent 0%, black 100%);
}
.overlay:hover:before {
  height: 100%;
}

.titleBar_padding {
  padding: 0 !important; }
/*flex-box*/
.flex_wrap{
    display: flex;
    flex-wrap: wrap;
}
.backElement div{
    text-align: center;
    font-size: 2rem;
    flex-basis: 50%;
    padding: 45px;
}
.row .col{
    padding: 0;
}
.row {
    margin-bottom: 0;
}
.card {
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.14), 0 0px 0px 0 rgba(0, 0, 0, 0.12), 0 0px 0px 0px rgba(0, 0, 0, 0.2);
  background-color: transparent;
}
.card-content > p{
    text-align: center;
    font-size: 0.8em;
}
.smaller-card-image {
  max-width: 40%;
  transform: translate(50%,0);
  right: 50%;
}
img.black_white{
-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
.img-thumbnail{
    border: dotted hsla(0,0%,96%,1.00); 
}
.center_in_center{
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}
.blog_location div img{
    border-radius: 15px;
}
.round_bottom{
    border-radius: 0px 0px 15px 15px;
}
.py_3{
    padding: 15px;
}
ul.horizontal_list li{
    display: inline;
    padding: 15px;
}
ul.horizontal_list li a:hover{
    color:#960d28!important; 
}
.card-title{
    left: auto!important;
    right: 0;
}
.gradiant_color{
    color: linear-gradient(black, #960d28);
}
table.striped > tbody > tr:nth-child(2n+1){
    background-color: transparent;
}
td{
    text-align: center;
}
footer p{
    text-align: justify;
}

html{
    color: white;
}
body{
    background-color:hsla(294,9%,17%,1.00);
}
.background_content{
    background-color:hsla(294,9%,36%,1.00);
}
main{direction: rtl;}
footer{direction: rtl}

/*/////////////////////////////////////////////	*/
/*@media*/
@media (max-width: 768px) {
  /*extra small and sm*/
  .fixed_top_sm_lower {
    z-index: 2000;
    position: fixed;
    top: 0;
    right: 0;
    left: 0; }

  ul.title_padding_item li {
    padding: 5px 0; }

  .bg-baseTransparent {
    background-color: whitesmoke !important; }

  a.bg-baseTransparent:hover, a.bg-baseTransparent:focus,
  button.bg-baseTransparent:hover,
  button.bg-baseTransparent:focus {
    background-color: #b5b5b5 !important; }

  .titleBar_padding {
    padding-right: 15px;
    padding-left: 15px; } }
